<footer class="cf w-100 pt5 black-70">
  <!-- <a href="mailto:" class="link f5 f2-ns black-70 lh-solid">hi@jwie.be</a> -->
  <span class="f4 db w-100 w-40-l mb4">Send me an email at
    <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
    "harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
    "\\\\,l=x.length;for(i=0;i<l;i++){if(i>(85+y))y*=2;y%=127;o+=String.fromChar" +
    "Code(x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\194-4?5(s)-\\\\\\\\t\\\\\\" +
    "\\025\\\\\\\\007\\\\\\\\017\\\\\\\\nMD[\\\\\\\\tI\\\\\\\\002\\\\\\\\031\\\\" +
    "\\\\t\\\\\\\\013S3R\\\\\\\\034\\\\\\\\023\\\\\\\\032\\\\\\\\030\\\\\\\\001\\"+
    "\\\\\\031M\\\\\\\\020\\\\\\\\020:\\\\\\\\021\\\\\\\\013\\\\\\\\024\\\\\\\\0" +
    "33.cg<wpdmmj~6Dhbc\\\\\\\\17702;b|w7rns~2\\\\\\\\177{6|\\\\\\\\003\\\\\\\\0" +
    "02WMQJB\\\\\\\\025u\\\\\\\\010xICJ\\\\\\\\017]T\\\\\\\\022RZ\\\\\\\\025SZYP" +
    "Vg\\\\\\\\036\\\\\\\\003VV\\\\\\\\000+5*!k$\\\\\\\\\\\"\\\\tf+undu\\\\\\\\1" +
    "77k\\\"\\\\,85)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=" +
    "i(rof}}{)e(hctac};l=+l;x=+x{yrt{)29=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x" +
    "=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                                       ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
  </span>

  <div class="mt5">
    <a href="https://twitter.com/{{site.twitter_username}}" target="_blank" title="Follow me on Twitter" class="f6 dib pr2 mid-gray dim">Twitter</a>
    <a href="https://github.com/{{site.github_username}}" target="_blank" title="Check out my code on Github" class="f6 dib pr2 mid-gray dim">Github</a>
    <a href="https://instagram.com/{{site.instagram_username}}" target="_blank" title="Follow me on Instagram" class="f6 dib pr2 mid-gray dim">Instagram</a>
    <a href="https://open.spotify.com/user/{{site.spotify_username}}" target="_blank" title="Spotify" class="f6 dib pr2 mid-gray dim">Spotify</a>
    <span class="f6 db mid-gray">View more work at <a href="http://collectif.co" target="_blank" title="Collectif" class="dim">Collectif</a></span>
  </div>
  <p class="f6 db lh-solid gray mt3">&copy; 2011–{{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
</footer>
