<header class="cf w-100">
  <div class="fr w-100 mt3 mt0-ns">
    <h1 class="f4 f3-l lh-title mt0 mb4">
      <a href="/">{{site.title}}</a>
    </h1>
  </div>
  <div class="f6 lh-copy fl w-100 mb4">
    <div class="fl-ns dib w-100 w-50-l pr3-m pr5-l mb4">
      <p>
        Josiah is a designer &amp; developer based in the Canadian Prairies. He is passionate about Javascript development and advancing the open source community. Most of his work is done through <a href="https://collectif.co" target="_blank">Collectif</a>.
      </p>
    </div>
    <div class="fl-ns dib w-100 w-50-l pr3-m pr4-1 mb2">
      <div class="fl w-50 w-third-ns pr2-m pr3-l">
        <p>
          <span class="db">Thoughts on</span> <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">Twitter</a>
        </p>
      </div>
      <div class="fl w-50 w-third-ns pr2-m pr3-l">
        <p>
          <span class="db">Code on</span> <a href="https://github.com/{{site.github_username}}" target="_blank">Github</a>
        </p>
      </div>
      <div class="fl w-50 w-third-ns pr2-m pr3-l mt2 mt0-ns">
        <p>
          <span class="db">Images on</span> <a href="https://instagram.com/{{site.instagram_username}}" target="_blank">Instagram</a>
        </p>
      </div>
    </div>
  </div>
</header>
