<div class="wrapper">
  <header class="site-header" role="banner">
    <h1 class="site-name">Name: <a href="/" rel="home">{{site.title}}</a></h1>
    <div class="description">{{site.description}}</div>
    <nav class="site-nav" role="navigation">
      <div class="menu">
      {% assign section = page.url | remove_first:'/' | split:'/' | first %}

      {% for page in site.pages %}
        <li class="menu-item"><a href="{{page.url}}">{{page.title}}</a></li>
      {% endfor %}
      </div>
    </nav>
  </header>
</div>
