body {
  font-size: $base-font-size;
  font-family: $sans;
  line-height: 1.45;
  color: $body-text-color;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: $line-height;
}

h1 {
  font-size: #{1.8*$base-font-size};
}

h2 {
  font-size: #{1.4*$base-font-size};
}

h3 { }

article h1 {
  margin-bottom: $line-height;
}

ul,
ol {
  padding-left: 1.4rem;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  color: $grey;
}

aside {
  color: $grey;
}

pre,
code {
  // font-size: inherit;
  font-family: $monospace;
  background: $light-grey;
  // padding: 0.25rem 0.375rem;;
  // border-radius: 3px;
}

code {
  display: inline-block;
}

pre {
  display: block;
  white-space: pre-wrap; // CSS3
  word-wrap: break-word;
}

.site-name {
  font-size: $base-font-size;
  font-weight: bold;
}

.description {
  color: $grey;
  font-style: italic;
}
