body {
  font-size: $base-font-size;
  font-family: $sans;
  line-height: 1.45;
  color: $body-text-color;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
