@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000;
  --color-primary: hsla(358, 82%, 71%, 1);
  --tw-prose-links: var(--color-primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-primary);
  background: linear-gradient(
    135deg,
    hsla(55, 61%, 85%, 1) 0%,
    hsla(196, 79%, 79%, 1) 50%,
    hsla(358, 82%, 71%, 1) 100%
  );
  background-clip: text;
  border: transparent;
  text-decoration: underline;
  transition: color 120ms ease-in-out;
}

a:hover {
  color: transparent;
  transition: color 120ms ease-in-out;
}

.status-link a {
  color: unset;
  text-decoration: none;
}

.footer-byline {
  width: 100%;
  display: block;
  margin-top: 4rem;
  clear: both;

  @media screen and (min-width: 30em) {
    float: left;
    display: inline;
  }

  p {
    font-size: 0.75rem;
    color: #777;
    line-height: 1.5;
    display: block;
    margin-top: 1rem;
  }
}
